<%- include('templates/header.ejs') %> <%- include('./CandidateNavbar.ejs') %>
<div class="allJobs">
	<div class="container">
		<div class="container header pink lighten-2">
			<% if(fromPage === 'receivedJobs') { %>
			<h1>Available Jobs</h1>
			<% } %> <% if(fromPage === 'acceptedJobs') { %>
			<h1>Your Accepted Jobs</h1>
			<% } %> <% if(fromPage === 'rejectedJobs') { %>
			<h1>Your Rejected Jobs</h1>
			<% } %>
		</div>
		<ul class="collapsible expandable">
			<% jobs.forEach(aJob => { %>
			<li>
				<div class="collapsible-header">
					<i class="material-icons">arrow_drop_down_circle</i>
					<span>Job #<%= aJob._id %></span>
					<div class="form-actions">
						<% if(fromPage === 'receivedJobs') { %>
						<form action="/jobs/candidate/acceptedjobs/<%= aJob._id %>" method="POST">
							<button
								class="
									tooltipped
									btn-floating btn-large
									waves-effect waves-light
									btn-small
									light-green
								"
								type="submit"
								data-position="left"
								data-tooltip="Accept"
							>
								<i class="material-icons">check</i>
							</button>
						</form>
						<form action="/jobs/candidate/rejectedjobs/<%= aJob._id %>" method="POST">
							<button
								class="
									tooltipped
									btn-floating btn-large
									waves-effect waves-light
									btn-small
									red
									darken-1
								"
								type="submit"
								data-position="right"
								data-tooltip="Reject"
							>
								<i class="material-icons">close</i>
							</button>
						</form>
						<% } %> <% if(fromPage === 'acceptedJobs') { %>
						<form
							action="/jobs/candidate/acceptedjobs/<%= aJob._id %>?_method=DELETE"
							method="POST"
						>
							<button
								class="
									tooltipped
									btn-floating btn-large
									waves-effect waves-light
									btn-small
									red
									darken-1
									pulse
								"
								type="submit"
								data-position="right"
								data-tooltip="Remove from accepted list"
							>
								<i class="material-icons">undo</i>
							</button>
						</form>
						<% } %> <% if(fromPage === 'rejectedJobs') { %>
						<form
							action="/jobs/candidate/rejectedjobs/<%= aJob._id %>?_method=DELETE"
							method="POST"
						>
							<button
								class="
									tooltipped
									btn-floating btn-large
									waves-effect waves-light
									btn-small
									light-green
									pulse
								"
								type="submit"
								data-position="right"
								data-tooltip="Remove from rejected list"
							>
								<i class="material-icons">undo</i>
							</button>
						</form>
						<% } %>
					</div>
				</div>
				<div class="collapsible-body">
					<p>Role - <%= aJob.title %></p>
					<p>Location - <%= aJob.location %></p>
					<p>Company - <%= aJob.company %></p>
					<p>Posted on - <%= aJob.date %></p>
					<p>Posted by - <%= aJob.employer.username %></p>
				</div>
			</li>
			<% }) %>
		</ul>
	</div>
</div>
<%- include('templates/footer.ejs') %>
